.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
   /* justify-content: space-between; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  width: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* align-items: flex-end; */
  /* align-items: center; */
  flex-grow: 1;
  padding: 50px;
}

.App-header .Top-line {
  display: flex;
  justify-content: space-between;
}

.App-header .Centered-line {
  display: flex;
  justify-content: center;
}

.App-header .btn {
  border: none;
  font-size: large;
  padding: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  line-height: 3;
}