.container {
  position: relative;
}

.menu {
  position: absolute;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 4px;
}

.menuItem {
  padding: 5px;
}

.menuItem:hover {
  background-color: #aeaeae;
}

.positionTop {
  bottom: 100%;
}

.positionRight {
  right: 0;
}
