.container {
  position: relative;
  /* display: inline; */
}

.menu {
  position: absolute;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 4px;
  list-style-type: none;
  margin: 0;
  white-space: nowrap;
  max-width: 260px;
  overflow-y: clip;
}

.menuItem {
  padding: 5px;
}

.menuItem:hover {
  background-color: #aeaeae;
}

.positionTop {
  bottom: 100%;
}

.positionRight {
  right: 0;
}
